In [1]:
import pandas as pd
import numpy as np

In [2]:
prices = pd.read_csv('data/sample_prices.csv')
returns = prices.pct_change()

In [3]:
returns

        BLUE    ORANGE
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [4]:
returns = returns.dropna()

In [5]:
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [6]:
deviations = returns - returns.mean()
deviations

        BLUE    ORANGE
1   0.013621  0.029662
2  -0.031807 -0.043638
3  -0.041763  0.072232
4   0.024477  0.034544
5   0.027786 -0.036381
6  -0.021452 -0.059187
7   0.022677  0.107008
8  -0.022581  0.057353
9   0.019581  0.068250
10 -0.003849 -0.178261
11  0.002162  0.014041
12  0.011149 -0.065623

In [22]:
sq_dev = deviations**2
variance = sq_dev.mean()

volatility = np.sqrt(variance)

In [23]:
volatility # notice how this is different
# this is due to dividing by n rather than n-1 (population vs sample standard deviation)

BLUE      0.022957
ORANGE    0.076212
dtype: float64

In [24]:
variance = sq_dev.sum() / (sq_dev.shape[0] - 1)

In [26]:
volatility = variance ** .5

In [27]:
volatility

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [28]:
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [7]:
returns.std() * np.sqrt(12)

BLUE      0.083060
ORANGE    0.275747
dtype: float64

In [17]:
returns = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv', 
                      header = 0, index_col=0, parse_dates = True, na_values=-99.99)

In [18]:
columns = ['Lo 10', 'Hi 10']
returns = returns[columns]
returns = returns / 100
returns.columns = ['SmallCap', 'LargeCap']
returns.head()

        SmallCap  LargeCap
192607   -0.0145    0.0329
192608    0.0512    0.0370
192609    0.0093    0.0067
192610   -0.0484   -0.0243
192611   -0.0078    0.0270

In [19]:
returns.std()

SmallCap    0.106288
LargeCap    0.053900
dtype: float64

In [20]:
annualized_volatility = returns.std()*np.sqrt(12)

In [26]:
n_months = returns.shape[0]
return_per_month = (returns+1).prod()**(1/n_months) - 1

In [27]:
return_per_month

SmallCap    0.012986
LargeCap    0.007423
dtype: float64

In [28]:
annualized_return = (return_per_month+1)**12 - 1
annualized_return

SmallCap    0.167463
LargeCap    0.092810
dtype: float64

In [29]:
annualized_return = (returns+1).prod()**(12/n_months) - 1

In [30]:
annualized_return

SmallCap    0.167463
LargeCap    0.092810
dtype: float64

In [31]:
annualized_return / annualized_volatility

SmallCap    0.454825
LargeCap    0.497063
dtype: float64

In [32]:
riskfree_rate = .03
sharpe_ratio = (annualized_return - riskfree_rate) / annualized_volatility

In [33]:
sharpe_ratio

SmallCap    0.373346
LargeCap    0.336392
dtype: float64